<div fxLayout="column">
  <div fxFlex class="pageTitle">Forgot Password</div>
  <div fxFlex>Please enter your email address below. You will receive an email with a link to reset your password.</div>
  <div fxFlex>
    <form [formGroup]="myForm" class="example-form">
      <div fxLayout="row" fxLayoutGap="20px">
        <div fxFlex="35">
          <mat-form-field appearance="standard">
            <mat-label>Email Address:</mat-label>
            <input matInput placeholder="" formControlName="emailFormControl" required>
            <mat-error *ngIf="emailFormControl.hasError">Required Field</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex fxLayoutAlign=" center">
          <button class="btn btn-success" (click)="submitEmailAddress()" [disabled]="!myForm.valid">Request a Password Reset</button>
        </div>
      </div>
     
      
      </form>
  </div>
</div>

