<p>
 Grid With Sorting and Paging - No controls, just basic html and Angular
</p>
<div>
  <table class="table table-striped " *ngIf="gridData">
    <thead class="">
        <tr class="card-header-rose" >
          <th>
            <app-grid-column-sort [columnHeadingText]="'Col1'" [columnDataElement]="'col1'" [isActive]='isActive'
            (sortColumnEvent)='sortColumnEvent($event)' [sortedColumnElement]="sortedColumnElement"></app-grid-column-sort>

          </th>
          <th>
              <app-grid-column-sort [columnHeadingText]="'Col2'" [columnDataElement]="'col2'"
              (sortColumnEvent)='sortColumnEvent($event)' [sortedColumnElement]="sortedColumnElement"></app-grid-column-sort>

          </th>
          <th>
              <app-grid-column-sort [columnHeadingText]="'Col3'" [columnDataElement]="'col3'"
              (sortColumnEvent)='sortColumnEvent($event)' [sortedColumnElement]="sortedColumnElement"></app-grid-column-sort>
            <!-- <span class="span-sort-column" (click)="onSortOrderChange('col3')" [class.span-sort-column-active]="sortColumn=='col3'">Col3</span>
            <span *ngIf="sortColumn=='col3' && sortDirection=='-'">&nbsp;<i class="fas fa-arrow-down span-sort-icon"></i></span>
            <span *ngIf="sortColumn=='col3' && sortDirection==''">&nbsp;<i class="fas fa-arrow-up span-sort-icon"></i></span> -->
          </th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of gridData">
          <td>{{ row.col1 }}</td>
          <td>{{ row.col2 }}</td>
          <td>{{ row.col3 }}</td>
        </tr>

    </tbody>
</table>

<app-grid-paging [pageNumber]='pageNumber' [pageSize]='pageSize' [previousPageButton]='previousPageButton'
  [totalPages]='totalPages' [total]='total'
  (pageChangedEvent)='pageChangeEvent($event)' (pageSizeChangedEvent)='pageSizeChangedEvent($event)'></app-grid-paging>

<div>gridData = {{ gridData | json }}</div>
