<p>

</p>
<div class="row"><button class="btn btn-sm btn-primary" (click)="doSuccessToast()">Test Success Toast</button></div>
<div class="row pt-2"><button class="btn btn-sm btn-info" (click)="doInfoToast()">Test Info Toast</button></div>
<div class="row pt-2"><button class="btn btn-sm btn-warning" (click)="doWarningToast()">Test Warning Toast</button></div>
<div class="row pt-2"><button class="btn btn-sm btn-danger" (click)="doErrorToast()">Test Error Toast</button></div>
<div class="row pt-2"><button class="btn btn-sm btn-danger" (click)="doErrorToastWithTitle()">Test Error Toast With Title</button></div>
<div class="row pt-2"><button class="btn btn-sm btn-danger" (click)="doErrorLogOnToast()">Test Error Long On Toast</button></div>
