.form-field-help-text {
  font-style: italic;
}

mat-form-field {
  /*min-width: 400px;
  max-width: 400px;*/
  width: 100%;
}

mat-select {
  /*min-width: 400px;
    max-width: 400px;*/
  width: 100%;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
