<h1>Hello, world! <i class="fas fa-globe"></i></h1>
<p>Welcome to your new single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>To help you get started, we've also set up:</p>
<ul>
  <li><strong>Client-side navigation</strong>. For example, click <em>Counter</em> then <em>Back</em> to return here.</li>
  <li><strong>Angular CLI integration</strong>. In development mode, there's no need to run <code>ng serve</code>. It runs in the background automatically, so your client-side resources are dynamically built on demand and the page refreshes when you modify any file.</li>
  <li><strong>Efficient production builds</strong>. In production mode, development-time features are disabled, and your <code>dotnet publish</code> configuration automatically invokes <code>ng build</code> to produce minified, ahead-of-time compiled JavaScript files.</li>
</ul>
<p>The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p>
<p>If you want to enable server-side prerendering, see the steps in <code>Startup.cs</code>.</p>
<p>Stuff Ron Added/Changed</p>
<ul>
  <li>Bootstrap 4.* - Upgraded template Bootstrap 4.* and changed the main top nav to use it.</li>
  <li>JQuery 3.3.1 - For Bootstrap 4</li>
  <li>Popper.js 1.14.1 - For Bootstrap 4</li>
  <li>Font Awesome - Added links in the index.html to pull the Font Awesome from their CDN. You can remove or change to your liking.</li>
  <li>Lodash 4.17.5 - Lots of little collection and array functions</li>
  <li>Moment 2.21.0 - Date processing</li>
  <li>Toastr 2.1.4 - For popup toast notifications</li>
  <li>Angular Proxy - Changed Startup to use Angular Proxy. So you need to do an "ng serve" in the clientApp folder to run Angular separate from the .Net code running.</li>
  <li>CurrentUserService - Used with Authentication</li>
  <li>Serilog - Logging to MSSQLServer - Logs Table</li>
  <li>Automapper - Example in startup.cs. Mapping User to UserOut DTO</li>
  <li>Identity with JWT Token Auth</li>
  <li>Database is created and seeded upon Debug</li>
  <li>ApplicationUser Controller - More RPC style</li>
  <li>ApiCrudExampleController - REST style</li>
</ul>

